<?xml version="1.0" encoding="UTF-8"?><nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="C:\\NLogError.txt" internalLogLevel="Error" throwExceptions="true">

  <!--Error log-->
  <targets>
    <target archiveAboveSize="2048000" archiveFileName="D:/MMISAppsData/ProcessManager/Logs/ErrorLog/archives/PMErrLog.{#####}.txt" archiveNumbering="Rolling" concurrentWrites="true" encoding="iso-8859-2" fileName="D:/MMISAppsData/ProcessManager/Logs/ErrorLog/ErrorLog.txt" keepFileOpen="false" layout="${longdate} ${callsite} ${level:uppercase=true} ${message}" maxArchiveFiles="7" name="logfile1" xsi:type="File"/>
  </targets>
  
  <!-- Info Warn log-->
  <targets>
    <target archiveAboveSize="2048000" archiveFileName="D:/MMISAppsData/ProcessManager/Logs/InfoLog/archives/InfoLog.{#####}.txt" archiveNumbering="Rolling" concurrentWrites="true" encoding="iso-8859-2" fileName="D:/MMISAppsData/ProcessManager/Logs/InfoLog/Info.log" keepFileOpen="false" layout="${longdate} ${callsite} ${level:uppercase=true} ${message}" maxArchiveFiles="7" name="logfile2" xsi:type="File"/>
  </targets>

  <!--Debug log-->
  <targets>
    <target archiveAboveSize="2048000" archiveFileName="D:/MMISAppsData/ProcessManager/Logs/DebugLog/archives/DebugLog.{#####}.txt" archiveNumbering="Rolling" concurrentWrites="true" encoding="iso-8859-2" fileName="D:/MMISAppsData/ProcessManager/Logs/DebugLog/DebugLog.txt" keepFileOpen="false" layout="${longdate} ${callsite} ${level:uppercase=true} ${message}" maxArchiveFiles="7" name="logfile3" xsi:type="File"/>
  </targets>
  <!--simple FileNET log text file for developers-->
  <targets>
    <target archiveAboveSize="2048000" archiveFileName="D:/MMISAppsData/ProcessManager/Logs/FileNet/archives/FNErrLog.{#####}.txt" archiveNumbering="Rolling" concurrentWrites="true" encoding="iso-8859-2" fileName="D:/MMISAppsData/ProcessManager/Logs/FileNet/FNErrorLog.txt" keepFileOpen="false" layout="${longdate} ${callsite} ${level:uppercase=true} ${message}" maxArchiveFiles="7" name="FileNETLog" xsi:type="File"/>
  </targets>

  <rules>
    <logger levels="Error" name="Molina.ProcessManager.CustomComponent.*" writeTo="logfile1"/>
    <logger levels="Info,Warn" name="Molina.ProcessManager.CustomComponent.*" writeTo="logfile2"/>
    <logger levels="Debug" name="Molina.ProcessManager.CustomComponent.*" writeTo="logfile3"/>
    <logger levels="Error" name="Molina.ProcessManager.BusinessLogic.*" writeTo="logfile1"/>
    <logger levels="Debug" name="Molina.ProcessManager.BusinessLogic.*" writeTo="logfile3"/>
    <logger levels="Debug,Error" name="Molina.ProcessManager.RepositoryConnector.FileNetISRepositoryConnector" writeTo="FileNETLog"/>
    <logger levels="Debug,Error" name="Molina.ProcessManager.RepositoryConnector.FileNetP8RepositoryConnector" writeTo="FileNETLog"/>
  </rules>
</nlog>
