<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <item key="PMSQLConnection" value=""/>
  <item key="RendezvousXMLDir" value="D:\MMISAppsData\ActionServerControllerP8\PMCompanionApps\Rendezvous"/>
  <item key="LetterManager_LetterTemplate" value=""/>
  <item key="LetterManager_DropoutDir" value=""/>
  <item key="LetterManager_TempDir" value=""/>
  <item key="comment_sp_name" value="usp_GetWorkObjectComments"/>
  <item key="QueueName" value=""/>
  <!--Generic DB Update-->
	<item key="GenericDBXMLDir" value=""/>
	<item key="AssignedByIndex" value="Index" />
	<item key="AssignedByConstant" value="Constant" />
	<item key="AssignedBySystem" value="System" />
</configuration>